/*

José Carlos López Henestrosa

https://henestrosaconh.com

Naming convention followed: http://getbem.com/introduction/

*/

/* ---------------------------------------------
Tabla de contenidos
------------------------------------------------
01. bootstrap overriding
02. nav
03. modals
04. 1_test > user.php
05. 3_pizzeria > user.php
06. responsive
--------------------------------------------- */

/* 
---------------------------------------------
. bootstrap overriding
--------------------------------------------- 
*/
.card {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12),
		0 2px 2px 0 rgba(0, 0, 0, .24);
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 
---------------------------------------------
. nav
--------------------------------------------- 
*/
ul.dropdown-cart {
	min-width: 250px;
}

ul.dropdown-cart li .item {
	display: block;
	padding: 3px 10px;
	margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
	background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul.dropdown-cart li .item-left {
	float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
	float: left;
}

ul.dropdown-cart li .item-left span.item-info {
	margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
	display: block;
}

ul.dropdown-cart li .item-right {
	float: right;
}

ul.dropdown-cart li .item-right button {
	margin-top: 14px;
}

@media screen and (max-width: 768px) {
	.nav-item {
		margin-bottom: .5rem !important;
	}
}

.nav-item:not(:last-child) {
	margin-right: 1.5rem !important;
}

.dropdown:hover {
	cursor: pointer;
}

/* 
---------------------------------------------
. modals
--------------------------------------------- 
*/
.form-floating:focus-within {
	z-index: 2;
}

.form-floating input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-floating input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* 
---------------------------------------------
. 1_test > user.php
--------------------------------------------- 
*/
.question__container {
	padding-bottom: 1.5rem !important;
	border-bottom: 1px solid rgba(0, 0, 0, .25);
}

/* 
---------------------------------------------
. 3_pizzeria > user.php
--------------------------------------------- 
*/
#ingredients li {
	width: 33%;
	margin-bottom: 30px;
	height: auto;
	float: left;
	text-align: center;
	list-style-type: none;
	color: #000;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: inherit;
	position: relative
}

#ingredients li img {
	display: block;
	margin: 0 auto 0;
}

.input-group {
	margin: 4px auto 0;
	width: 70%;
}

/* 
---------------------------------------------
. responsive
--------------------------------------------- 
*/
@media screen and (min-width: 991px) {
	.car__img {
		height: 10vw;
		object-fit: cover;
	}

	#ingredients li {
		width: 50%;
	}
}