/*

José Carlos López Henestrosa

https://henestrosa.dev

Convenio de denominación seguido: http://getbem.com/introduction/

/* ---------------------------------------------
Tabla de contenidos
------------------------------------------------
01. reset css
02. font faces
03. elementos html
04. clases generales
05. nav
06. dropdown
07. header
08. distribución
09. card
10. button
11. info
12. form
13. promotion
14. responsive
--------------------------------------------- */

/* 
---------------------------------------------
01. reset css
--------------------------------------------- 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* 
---------------------------------------------
02. font faces
--------------------------------------------- 
*/
@font-face {
	font-family: NotoSans;
	src: url(./fonts/NotoSans-Regular.ttf);
}

/* 
---------------------------------------------
03. elementos html
--------------------------------------------- 
*/
body {
	margin: 0;
	font-family: 
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
	font-weight: bold;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

img {
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 96%;
	background-color: #6C757D;
	height: 1px;
}

legend {
	float: none;
	padding-left: 1em;
	font-size: 2em;
}

label {
	display: inline-block;
}

/* 
---------------------------------------------
04. clases generales
--------------------------------------------- 
*/
/* background */
.bg--red {
	background-color: #e2001a !important;
}

/* text */
.text--unstyled {
	color: #fff;
	text-decoration: none !important;
}

.text--white {
	color: rgb(232, 230, 227) !important;
}

.text--red {
	color: rgb(232, 0, 0) !important;
}

.text--muted {
	color: #6c757d !important;
}

.text--shadow {
	text-shadow: 2px 2px #FF0000;
}

.text--center {
	text-align: center;
}

.text--uppercase {
	text-transform: uppercase;
}

.between-lines {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 3rem 0 2rem;
}

.between-lines__text {
	background:#fff;
	padding:0 10px;
}

/* margin */
.me--2 {
	margin-right: .75rem !important;
}

.me--3 {
	margin-right: 1rem !important;
}

.mb--3 {
	margin-bottom: 1rem !important;
}

.mb--4 {
	margin-bottom: 1.5rem !important;
}

.mb--5 {
	margin-bottom: 3rem !important;
}

.mt--2 {
	margin-top: .75rem !important;
}

.mt--3 {
	margin-top: 1rem !important;
}

.mt--4 {
	margin-top: 1.5rem !important;
}

.mt--5 {
	margin-top: 3rem !important;
}

/* padding */
.p--2 {
	padding: 0.75rem !important;
}

.p--3 {
	padding: 1rem !important;
}

.px--2 {
	padding: 0 0.75rem !important;
}

.px--3 {
	padding: 0 1rem !important;
}

.pb--3 {
	padding-bottom: 1rem !important;
}

/* float */
.float--start {
	float: left !important;
}

.float--end {
	float: right !important;
}

.float--none {
	float: none !important;
}

/* display */
.d--flex {
	display: flex;
}

.d--block {
	display: block;
}

/* position */
.space-around {
	justify-content: space-around;
}

.align-items--center {
	align-items: center !important;
}

/* img */
.img--fit {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}

.img--zoom-in {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img--zoom-in:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* font size */
.fs--sm {
	font-size: .8rem;
}

.fs--md {
	font-size: 1.3rem;
}

.fs--lg {
	font-size: 1.75rem;
}

/* width & height */
.w--40 {
	width: 40% !important;
}

.w--100 {
	width: 100% !important;
}

.w--auto {
	width: auto !important;
}

.h--100 {
	width: 100% !important;
}


/* list */
.list--unstyled {
	list-style-type: none;
}

.list--inline {
	padding-left: 0;
	list-style: none;
}

.list--inline__item {
	display: inline-block;
}

.list--inline__item:not(:last-child) {
	margin-right: .5rem;
}

/* 
---------------------------------------------
05. navbar
--------------------------------------------- 
*/
.navbar {
	position: relative;
	min-height: 137px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: 20px;
	border-top: 0;
	border-bottom: 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .24);
	box-sizing: border-box;
	z-index: 1020;
}

.navbar::after {
	content: ' ';
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #3a3a3a;
}

.navbar__container {
	display: flex;
	flex-wrap: inherit;
	align-items: center;
	justify-content: space-between;
	padding-right: .75rem;
	padding-left: .75rem;
	margin-right: auto;
	margin-left: auto;
}

.navbar__brand {
	font-family: 'Pacifico';
	padding-top: .3125rem;
	padding-bottom: .3125rem;
	margin-right: 1rem;
	text-decoration: none;
	white-space: nowrap;
}

.navbar__content {
	margin-top: 18px;
	background-color: #3a3a3a;
	clear: both;
	z-index: 1020;
}

.navbar__items {
	border: 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	max-width: 972px;
}

.navbar__item {
	background: #3a3a3a;
	padding: 0;
	color: #fff;
	font-size: 1em;
	position: relative;
	text-transform: uppercase;
}

.navbar__item:not(:last-child) {
	margin-right: 2em;
}

.active {
	font-weight: bold;
}

/* 
---------------------------------------------
06. dropdown
--------------------------------------------- 
*/
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown__content {
	display: none;
	position: absolute;
	background-color: #3a3a3a;
	padding-top: 0.75em;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown__item {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown__content>.active {
	font-weight: bold;
	color: red;
}

.dropdown__content dropdown__item:hover {
	background-color: grey;
}

.dropdown:hover .dropdown__content {
	display: block;
}

/* 
---------------------------------------------
07. header
--------------------------------------------- 
*/
.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/menusNavidad/restaurant.jpg");
	height: 20em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.hero__text {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

/* 
---------------------------------------------
08. distribución
--------------------------------------------- 
*/
.container {
	padding-right: var(--bs-gutter-x, .75rem);
	padding-left: var(--bs-gutter-x, .75rem);
	margin-right: auto;
	margin-left: auto;
}

.row {
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	margin-top: calc(var(--bs-gutter-y) * -1);
}

.row>* {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-top: var(--bs-gutter-y);
}

.row-cols--1>* {
	flex: 0 0 auto;
	width: 100%;
}

.gutter {
	--bs-gutter-y: 1.5rem;
}

/* 
---------------------------------------------
09. card
--------------------------------------------- 
*/
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 1rem;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__img {
	border-radius: 15px 15px 0 0;
	width: 100%;
}

.card__img--dish {
	padding: .75rem 0 .75rem 0;
}

.card__container {
	padding: 8px 16px;
}

.card__title {
	display: block;
	margin-block-end: 0.5em;
	font-size: 1.17em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.card__body {
	font-size: 1.5em;
}

/* 
---------------------------------------------
10. button
--------------------------------------------- 
*/
.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,
		background-color .15s ease-in-out,
		border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
}

.btn--promotion {
	background-color: red !important;
	border: 0;
	width: 100%;
	padding: 10px 0 10px;
	text-transform: uppercase;
	margin: 0 auto;
	color: #fff;
	margin-bottom: .5rem;
}

.btn--user {
	color: #fff;
	border-radius: .3rem;
}

.btn--user:hover {
	background-color: white;
	color: black;
}

.btn--send {
	background-color: green !important;
	color: white;
}

.btn--cancel {
	background-color: dimgray !important;
	color: white;
}

/* 
---------------------------------------------
11. info
--------------------------------------------- 
*/
.info__container {
	border: 5px solid #333;
}

.info__img {
	height: 400px;
	width: 100%;
}

.info__body {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 325px;
	width: 100%;
}

.info__title {
	padding: 0 .75rem;
}

/* schedule (inside "info--location" div) */
#schedule li {
	text-align: center;
	font-size: 1.25rem;
	font-family: 'Roboto';
}

/* 
---------------------------------------------
12. form
--------------------------------------------- 
*/

.form__section {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
		0 1px 10px 0 rgba(0, 0, 0, 0.12),
		0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.form__label {
	margin-bottom: 0.5rem;
}

.form__control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form__control::placeholder {
	color: #6c757d;
	opacity: 1;
}

/* ------------ CHECK ------------ */

.form__check {
	display: block;
	min-height: 1.5rem;
	margin-bottom: 0.125rem;
}

.form__check__input {
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

.form__check__input[type=checkbox] {
	border-radius: 0.25em;
}

.form__check__input:active {
	filter: brightness(90%);
}

.form__check__input:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form__check__input:checked {
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.form__check__input:checked[type=checkbox] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form__check__input[type=checkbox]:indeterminate {
	background-color: #0d6efd;
	border-color: #0d6efd;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

/* ------------ SELECT ------------ */

.form__select {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	-moz-padding-start: calc(0.75rem - 3px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__select:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* ------------ VALIDACIÓN ------------ */

/* 
 * Estilizamos el input en caso de que la entrada
 * sea correcta para informar de ello al usuario.
 */
.form--was-validated .form__control:valid,
.form__control.is-valid {
	border-color: #198754;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* Añadimos sombra al input validado cuando se le haga foco */ 
.form--was-validated .form__control:valid:focus,
.form__control.is-valid:focus {
	border-color: #198754;
	box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

/* Texto explicativo que aparece cuando el input no es correcto */
.invalid-feedback {
	display: none;
	width: 100%;
	margin-top: 0.25rem;
	font-size: 0.875em;
	color: #dc3545;
}

/* Ocultamos el texto explicativo del input si la entrada es correcta */
.form--was-validated .form__control:valid~.invalid-feedback {
	display: none;
}

/* Display del feedback inválido en caso de aparecer */
.was-validated :invalid~.invalid-feedback,
.is-invalid~.invalid-feedback {
	display: block;
}

/* Estilo del input cuando la entrada no es correcta */
.form--was-validated .form__control:invalid,
.form__control.is-invalid {
	border-color: #dc3545;
	padding-right: calc(1.5em + 0.75rem);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right calc(0.375em + 0.1875rem) center;
	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* Se le añade sombra al input cuando tiene el foco */
.form--was-validated .form__control:invalid:focus,
.form__control.is-invalid:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

/* ------------ RATING ------------ */

.rating-group {
	display: inline-flex;
}

.rating__icon {
	pointer-events: none;
}

/* Escondemos los unputs */
.rating__input {
	position: absolute !important;
	left: -9999px !important;
}

/* Escondemos la opción 'none' para los lectores de pantalla */
.rating__input--none {
	display: none
}

/* Establecemos el padding y el estilo del cursor del icono */
.rating__label {
	cursor: pointer;
	padding: 0 0.1em;
	font-size: 2rem;
}

/* Establecemos el color de la estrella */
.rating__icon--star {
	color: orange;
}

/* 
 * Si el usuario marca una estrella, hacemos que
 * las siguientes estén coloreadas en gris
 */
.rating__input:checked~.rating__label .rating__icon--star {
	color: #ddd;
}

/* Hacemos que la estrella se ilumine al hacer hover */
.rating-group:hover .rating__label .rating__icon--star {
	color: orange;
}

/* 
 * Si el usuario hace hover en una estrella, 
 * hacemos que las siguientes estén coloreadas en gris
 */
.rating__input:hover~.rating__label .rating__icon--star {
	color: #ddd;
}

/* 
---------------------------------------------
13. promotion
--------------------------------------------- 
*/
.promotion__container {
	display: block;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.promotion__fig {
	height: 100%;
	background: #fff;
	overflow: hidden;
}

.promotion__img {
	height: 600px;
	border-radius: 1rem;
}

.promotion__body {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.promotion__dish {
	padding: .5rem .5rem
}

/* 
---------------------------------------------
14. responsive
--------------------------------------------- 
*/
@media only screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.col--md-2 {
		flex: 0 0 auto;
		width: 48%;
	}

	.row-cols--md-3>* {
		flex: 0 0 auto;
		width: 33%;
	}
	
	.row-cols--md-4>* {
		flex: 0 0 auto;
		width: 25%;
	}

	.navbar {
		min-height: 48px;
	}

	/* info */
	.info__img {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	.info__body {
		height: 400px;
		width: 49%;
	}

	/* dishes cards */
	#dishes .col:nth-child(even) .card {
		background-color: rgba(232, 217, 186, 1); /*#E8D9BA;*/
	}

	#dishes .col:nth-child(odd) .card {
		background-color: rgba(255, 244, 204, .9); /*#FFF4CC;*/
	}

	/* promotion */
	.promotion__container {
		display: flex;
		justify-content: space-around;
	}

	.promotion__shadow {
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
			0 1px 10px 0 rgba(0, 0, 0, 0.12),
			0 2px 4px -1px rgba(0, 0, 0, 0.3);
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.navbar::after {
		height: 60px;
	}
}

@media only screen and (max-width: 768px) {
	.navbar::after {
		height: 50px;
	}

	.partially-visible,
	#info--events,
	#more-info {
		display: none;
	}

	.promotion__fig {
		margin-bottom: 1.25rem;
	}

	.promotion__card {
		box-shadow: 
			0 4px 5px 0 rgba(0, 0, 0, 0.14),
			0 1px 10px 0 rgba(0, 0, 0, 0.12),
			0 2px 4px -1px rgba(0, 0, 0, 0.3);
	}
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media only screen and (max-width: 992px) {
	.promotion__img {
		height: 300px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.navbar__container {
		justify-content: center;
		width: 100%;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}