ul.dropdown-cart {
	min-width: 250px;
}

ul.dropdown-cart li .item {
	display: block;
	padding: 3px 10px;
	margin: 3px 0;
}

ul.dropdown-cart li .item:hover {
	background-color: #f3f3f3;
}

ul.dropdown-cart li .item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul.dropdown-cart li .item-left {
	float: left;
}

ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info {
	float: left;
}

ul.dropdown-cart li .item-left span.item-info {
	margin-left: 10px;
}

ul.dropdown-cart li .item-left span.item-info span {
	display: block;
}

ul.dropdown-cart li .item-right {
	float: right;
}

ul.dropdown-cart li .item-right button {
	margin-top: 14px;
}

@media screen and (max-width: 768px) {
	.nav-item {
		margin-bottom: .5rem !important;
	}
}

.nav-item:not(:last-child) {
	margin-right: 1.5rem !important;
}