#ingredients li {
	width: 33%;
	margin-bottom: 30px;
	height: auto;
	float: left;
	text-align: center;
	list-style-type: none;
	color: #000;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: inherit;
	position: relative
}

#ingredients li img {
	display: block;
	margin: 0 auto 0;
}

.input-group {
	margin: 4px auto 0;
	width: 70%;
}

@media only screen and (max-width:991px) {
	#ingredients li {
		width: 50%;
	}
}

.btn__order {
	background-color: red !important;
	border: 0;
	width: calc(35% - 9px);
	padding: 10px 0 10px;	
}

.card {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12),
	0 2px 2px 0 rgba(0, 0, 0, .24);
}