/*-----------------
optimized abbv for mobiles
-----------------*/
abbr[title]:after{
	content: " (" attr(title) ")";
}

@media screen and (min-width: 1025px) {
	abbr[title] {
		border-bottom: 1px dashed #ADADAD;
		cursor: help;
	}

	abbr[title]:after {
		content: "";
	}
}

.container {
	max-width: 70%;
	margin: auto;
	font-family: monospace;
}

h1, h2, h3, h4 {
	margin-top: 3rem;
}