table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tbody tr:nth-child(even) {
	background-color: #eef7e3;
}

.header {
	background-color: #38761d;
	color: white;
}

.subheader {
	background-color: #6aa84f;
}

.field {
	background-color: #8bc34a;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: bold;
}
