/*

José Carlos López Henestrosa

https://henestrosa.dev

Naming convention followed: http://getbem.com/introduction/

*/

/* ---------------------------------------------
Tabla de contenidos
------------------------------------------------
01. bootstrap overriding
02. nav
03. modals
04. 1_test > user.php
05. 3_pizzeria > user.php
06. responsive
--------------------------------------------- */

/* 
---------------------------------------------
. bootstrap overriding
--------------------------------------------- 
*/
.card {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* 
---------------------------------------------
. nav
--------------------------------------------- 
*/
ul.dropdown-cart {
	min-width: 250px;
}

ul.dropdown-cart li .cart__item {
	display: block;
	padding: 3px 10px;
	margin: 3px 0;
}

ul.dropdown-cart li .cart__item:hover {
	background-color: #f3f3f3;
}

ul.dropdown-cart li .cart__item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

ul.dropdown-cart li .cart__item-left {
	float: left;
}

ul.dropdown-cart li .cart__item--left img,
ul.dropdown-cart li .cart__item--left span.cart__item--info {
	float: left;
}

ul.dropdown-cart li .cart__item--left span.cart__item--info {
	margin-left: 10px;
}

ul.dropdown-cart li .cart__item--left span.cart__item--info span {
	display: block;
}

ul.dropdown-cart li .cart__item--right {
	float: right;
}

ul.dropdown-cart li .cart__item--right button {
	margin-top: 14px;
}

@media screen and (max-width: 768px) {
	.nav-item {
		margin-bottom: 0.5rem !important;
	}
}

.nav-item:not(:last-child) {
	margin-right: 1.5rem !important;
}

.dropdown:hover {
	cursor: pointer;
}

/* 
---------------------------------------------
. modals
--------------------------------------------- 
*/
.form-floating:focus-within {
	z-index: 2;
}

.form-floating input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-floating input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/*
---------------------------------------------
. divider text (login)
--------------------------------------------- 
*/
.divider-text {
	position: relative;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.divider-text span {
	padding: 7px;
	font-size: 12px;
	position: relative;
	z-index: 2;
}

.divider-text:after {
	content: "";
	position: absolute;
	width: 100%;
	border-bottom: 1px solid #ddd;
	top: 55%;
	left: 0;
	z-index: 1;
}

/* 
---------------------------------------------
. edibles
--------------------------------------------- 
*/
@media only screen and (max-width: 576px) {
	.edible-image--sm {
		width: 156px;
		height: 156px;
		margin-left: auto;
		margin-right: auto;
	}
}

.flex--buttons {
	flex: 1 1 0px;
}
