/*-----------------
optimized abbv for mobiles
-----------------*/
abbr[title]:after{
	content: " (" attr(title) ")";
}

@media screen and (min-width: 1025px) {
	abbr[title] {
		border-bottom: 1px dashed #ADADAD;
		cursor: help;
	}

	abbr[title]:after {
		content: "";
	}
}

.container {
	width: 100%;
	background: cadetblue;
	aspect-ratio: 100 / 29;
}